In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
#help(pd.Series)

In [6]:
myindex=['USA','Canada','Mexico']

In [7]:
mydata=[1776,1867,1821]

In [8]:
myser=pd.Series(data=mydata)

In [9]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [10]:
myser=pd.Series(mydata,myindex)

In [11]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [12]:
myser[0]

1776

In [13]:
myser['USA']

1776

In [14]:
ages={'Sam':5,'Frank':10,'Spíke':7}

In [15]:
pd.Series(ages)

Sam       5
Frank    10
Spíke     7
dtype: int64

In [16]:
#Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1={'Japan':80,'China':450,'India':200,'USA':250}
q2={'Brazil':100,'China':500,'India':210,'USA':260}

In [19]:
sales_q1=pd.Series(q1)
sales_q2=pd.Series(q2)

In [21]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [22]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [24]:
sales_q1['Japan']

80

In [25]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [26]:
[1,2]*2

[1, 2, 1, 2]

In [27]:
np.array([1,2])*2

array([2, 4])

In [28]:
sales_q1*2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [29]:
sales_q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [30]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [32]:
first_half=sales_q1.add(sales_q2,fill_value=0)

In [33]:
sales_q1.dtype

dtype('int64')

In [34]:
first_half.dtype

dtype('float64')